#card {
  width: calc(25% - 50px);
  background-color: #000000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 4);
}

#banner {
  width: 100%;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #000000;
  border-radius: 0.6rem;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#user-info {
  position: relative;
  padding: 56px 16px 16px;
}

#status {
  position: absolute;
  top: 25px;
  left: 90px;
}

.status-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#avatar {
  position: absolute;
  width: 96px;
  height: 96px;
  box-shadow: 0 0 0 8px #000000;
  border-radius: 50%;
  top: 0;
  transform: translateY(-50%);
}

#avatar > img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

#badges {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 300px;
  width: 50%;
}

.badge {
  cursor: pointer;
  margin: 2px 4px 0 0;
  z-index: 1;
}

.badge > img {
  height: 25px;
}

#nickname {
  font-size: 22px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

#nickname > span {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

#at_sign {
  font-size: 14px;
  color: #bababa;
}

#custom_status {
  margin-top: 10px;
  font-size: 12px;
  color: #bababa;
}

hr {
  width: calc(100% - 32px);
  height: 1px;
  margin: 0 auto;
  border: none;
  outline: 0;
  background-color: var(--background-secondary);
}

#about {
  padding: 16px;
}

#about > h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
}

#about > p {
  font-family: Montserrat, sans-serif;
  color: #bababa;
  font-size: 14px;
}

#social {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2px 12px 16px;
  margin-top: 14px;
}

.social-link {
  margin: 2px 20px 0 0;
  transition: transform 0.3s;
}

.social-link > img {
  color: #bababa;
  width: 22px;
  height: 22px;
}

.social-link:hover {
  transform: scale(1.5);
}

#icon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2px 12px 16px;
  margin-top: 12px;
}

.icon {
  margin: 2px 20px 0 0;
  transition: transform 0.3s;
}

.icon > img {
  color: #bababa;
  width: 22px;
  height: 22px;
}

.icon:hover {
  transform: scale(1.5);
}

#spotify-status {
  position: relative;
  padding-left: 70px;
}

#spotify-status-container h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  padding: 16px;
}

.live-dot {
  position: relative;
  left: 167px;
  bottom: 27px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff5252;
  animation: fadeInOut 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

#album-image img {
  width: 50px;
  height: auto;
  border-radius: 8px;
  position: absolute;
  left: 16px;
  top: 0;
}

#song-name {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
  margin-left: 5px;
}

#artist-name {
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  margin-left: 5px;
}

@media (max-width: 512px) {
  #card {
    min-width: 100%;
    border-radius: 0;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
